/* COLORS:
  shadow/text:rgb(188 188 245);
  Buttons\Highlights:rgb(166 143 249);
  background:rgb(30 39 60);
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(26, 28, 41);
  color: #fff;
}
.mainClass {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.button {
  position: fixed;
  bottom: 1%;
  right: 0.5%;
  padding: 1.2rem 1.4rem;
  color: rgb(166 143 249);
  border: 1px solid rgb(166 143 249);
  border-radius: 9px;
  box-shadow: 0px 0px 5px 0 rgb(188 188 245);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease;
}
.button:hover {
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-15px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-1px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  background: rgb(30 39 60);
  padding: 1rem;
}

.navFirstEl {
  font-weight: bold;
  color: #fff;
  border-right: 1px solid rgb(188 188 245);
  padding-right: 1rem;
  background: rgb(30 39 60);
  cursor: pointer;
  text-decoration: none;
}
.navFirstEl::first-letter {
  color: rgb(166 143 249);
}

ul li {
  background: rgb(30 39 60);
}
.Link {
  cursor: pointer;
  background: rgb(30 39 60);
  text-decoration: none;
  color: #fff;
}

.Link::after {
  content: "";
  width: 0;
  height: 2px;
  background: rgb(188 188 245);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.Link:hover::after {
  width: 100%;
}

.hire {
  margin-left: auto;
  animation: color-change 1s infinite;
}

.marginRight {
  margin-left: auto;
}
@keyframes color-change {
  0% {
    color: rgb(188 188 245);
  }
  50% {
    color: #fff;
  }
  100% {
    color: rgb(188 188 245);
  }
}
