/* COLORS:
  text:rgb(188 188 245);
  background:rgb(30 39 60);
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(26, 28, 41);
  color: #fff;
}

.nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  background: rgb(30 39 60);
  padding: 1rem;
}

.navFirstEl {
  font-weight: bold;
  color: #fff;
  border-right: 1px solid rgb(188 188 245);
  padding-right: 1rem;
  background: rgb(30 39 60);
}
.navFirstEl::first-letter {
  color: rgb(188 188 245);
}

nav li {
  background: rgb(30 39 60);
  position: relative;
}

nav li a {
  background: rgb(30 39 60);
  text-decoration: none;
  color: #fff;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: rgb(188 188 245);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav li a:hover::after {
  width: 100%;
}

.hire {
  margin-left: auto;
  animation: color-change 1s infinite;
}

.marginRight {
  margin-left: auto;
}
@keyframes color-change {
  0% {
    color: rgb(188 188 245);
  }
  50% {
    color: #fff;
  }
  100% {
    color: rgb(188 188 245);
  }
}
