/* COLORS:
  text:rgb(188 188 245);
  background:rgb(30 39 60);
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(26, 28, 41);
}

.nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  background: rgb(30 39 60);
  padding: 1rem;
  position: sticky;
}

.navFirstEl {
  font-weight: bold;
  color: #fff;
  border-right: 1px solid rgb(188 188 245);
  padding-right: 1rem;
  background: rgb(30 39 60);
}
.navFirstEl::first-letter {
  color: rgb(188 188 245);
}

.nav li {
  background: rgb(30 39 60);
}
.nav li:hover {
  transition: 0.3s;
  transform: translateY(-2px);
}
.nav li a {
  background: rgb(30 39 60);
  text-decoration: none;
  color: rgb(188 188 245);
}
.nav li a:hover {
  color: #fff;
}

.hire {
  margin-left: auto;
  animation: color-change 1s infinite;
}

.marginRight {
  margin-left: auto;
}
@keyframes color-change {
  0% {
    color: rgb(188 188 245);
  }
  50% {
    color: #fff;
  }
  100% {
    color: rgb(188 188 245);
  }
}
